<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrlTus0BRq7mR282uCmejhQLbnE-uXHm0</string>
	<key>GCM_SENDER_ID</key>
	<string>806506380814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.lcsoftware.instax</string>
	<key>PROJECT_ID</key>
	<string>instax-71c6d</string>
	<key>STORAGE_BUCKET</key>
	<string>instax-71c6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806506380814:ios:ad10283fdef70c455c865f</string>
</dict>
</plist>